@media only screen and (min-width: 641px) {

body { padding-top: 50px; }

.heading {
	font-family: google-Oswald-Bold;
	font-size:15px
}


.title {
    font-family: google-Lobster;
	font-size:60px
}



} /*end of the media query */
