{ 
	'site' : 'ADVENTURE_HOP',
	'siteSection' : { 'HOME' : 'HOME',
                      'REGION' : 'REGION', 
        			  'GALLERY' : 'Gallery',
        			  'CONTACT' : 'CONTACT',
        			  'LOGIN' : 'LOGIN'
        			},
        
    'articleTypes' : { 'IMAGE' : 'IMAGE',
                       'IMAGE_SLIDER' : 'IMAGE_SLIDER',
                       'AD' : 'AD',
                       'YOUTUBE_VIDEO' : 'YOUTUBE_VIDEO',
                       'VIMEO_VIDEO' : 'VIMEO_VIDEO'                
        			 },
                             
    'regions' : { 'north_america' : 'north_america',
                  'central_america' : 'central_america',
                  'south_america' : 'south_america',
                  'europe' : 'europe',
                  'north_africa_middle_east' : 'north_africa_middle_east',
                  'africa' : 'africa',
                  'asia' : 'asia',
                  'oceania' : 'oceania',
                  'polar_regions' : 'polar_regions',
                  'gallery' : 'gallery' 
                }

}