<!-- ================== FOOTER ================= -->
<footer class="footer">
    <div class="footer-column-wrapper">
        <div class="container">
            <div class="row footer-row equal-height-col">
                <div class="col-sm-5 col-md-3 footer-col">
                    <h4 class="footer-title">Socialfy</h4>
                    <ul class="social-icon-list">
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-2x fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- /.col-sm-5 .col-md-3 footer-col -->
                <div class="col-sm-7 col-md-9 footer-col">
                    <h4 class="footer-title">About Us</h4>
                    <p>Adventure travel community. Travel guides, photos, videos, reviews and articles from around the world. North America, Central America, South America, Europe, North Africa & Middle-East, Africa, Asia, Oceania and Polar Regions.</p>
                </div>
                <!-- /.col-sm-7 col-md-9 footer-col--> 
            </div>
            <!--/.row .footer-row-->
            <div class="row footer-row equal-height-col"> 
                
                <div class="col-sm-12 footer-col">
                    <ol class="breadcrumb">
                        	<li ><a href="index.html">Home</a></li>
                            <li><a href="north-america.html">North America</a></li>
                            <li><a href="central-america.html">Central America</a></li>
                            <li><a href="south-america.html">South America</a></li>
                            <li><a href="europe.html">Europe</a></li>
                            <li><a href="north-africa-middle-east.html">North Africa & Middle-East</a></li>
                            <li><a href="africa.html">Africa</a></li>
                            <li><a href="asia.html">Asia</a></li>
                            <li><a href="oceania.html">Oceania</a></li>
                            <li><a href="polar-regions.html">Polar Regions</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="contact.html">Contact / Advertise with Us</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="sign-up.html">Sign Up</a></li>
                            <li><a href="site-map.html">Site Map</a></li>
                    </ol>
                    <!--/.img-widget--> 
                </div>
                <!-- /.col-sm-8 footer-col--> 
            </div>
            <!--/.row .footer-row --> 
        </div>
        <!--/.container --> 
    </div>
    <!--/.footer-column-wrapper -->
    <div class="footer-copyright">
        <div class="container">
            <p class="no-margin">© Copyright 2015 adventureHop! 
                All rights reserved. 
                 <a href="mailto:eugene.murray@outlook.com" class="link-underline">Email Us</a> | <a class="link-underline" href="site-map.html">Site Map</a> </p>
        </div>
    </div>
    <!--/.footer-copyright--> 
</footer>
<!-- ================== /.END footer ================= --> 
<!-- _________ GO TO TOP ___________ --> 
<a id="go-to-top" href="#top" title="up"> <i class="ti ti-arrow-up"></i> </a> 

<!-- _________ FOOTER SCRIPTS  ________ --> 
<script src="../assets/js/jquery.touch-swipe.js"></script> <!-- adds touch swipe to the theme's bootstrap carousel --> 
<script src="../assets/js/bootstrap.min.js"></script> <!-- bootstrap's js --> 
<script src="../assets/js/jquery.bootstrap.addon.js"></script><!-- initializations and custom scripts for bootstrap --> 
<script src="../assets/js/jquery.magnific-popup.js"></script><!-- image popups, video, modals, etc., contains the initializations --> 
<script src="../assets/js/jquery.slick-slider.min.js"></script> <!-- base carousel/slider SLICK SLIDER --> 
<script src="../assets/js/jquery.isotope.masonry.js"></script> <!-- Isotope w/Masonry also contains the initializations --> 

<script src="../assets/js/jquery.main.js"></script> <!-- CORE scripts and initializations -->